@import "./reset.css";

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial,
    sans-serif;
}

body {
  font-size: 1.6rem;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
}
